webdriver-manager 
selenium
beautifulsoup4
argparse
numpy
pandas
bs4
chromedriver_autoinstaller
instructor
langchain_community
google.generativeai
neo4j
langchain
langchain-community
langchain-google-genai
langchain-core
faiss-cpu
langchainhub
tavily-python
chainlit
